

<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header car">
    <h1>ALIMENTOS
    </h1>  
    </div>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>nome Ong</th>
    <th>nomeProduto</th>
    <th>quantidade</th>
    <th>prioridade</th>
    <th>Doar!</th>
  </tr>
  {{#each produtos}}
    <tr>
      <td>{{nomeOng}}</td>
      <td>{{nomeProduto}}</td>
      <td>{{quantidade}}</td>
      <td>{{prioridade}}</td>
      <td><a href="listaOng/{{nomeOng}}" class="text-white"><button class="btn btn-secondary"> + informações</button></a></td>
    </tr>
  {{/each}}
</table>
</div>
</div>