
<br>
<div class="h-auto d-inline-block container-fluid" style="height: auto;">
  <div class="card">
    <div class="card-header">
    <h1>Animais
    </h1>  
    <h6> Por aqui são feitas doações para ajudar animais, como cachorros, gatos etc.</h6>
    </div>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>Ong</th>
    <th>Produto</th>
    <th>quantidade</th>
    <th>prioridade</th>
    <th>Doar!</th>
  </tr>
  {{#each produtos}}
    <tr>
      <td>{{nomeOng}}</td>
      <td>{{nomeProduto}}</td>
      <td>{{quantidade}}</td>
      <td>{{prioridade}}</td>
      <td><a href="listaOng/{{nomeOng}}" class="text-white"><button class="btn btn-secondary"> + informações</button></a></td>
    </tr>
  {{/each}}
</table>
</div>
</div>
</div>