
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
    <h1>Animais
    </h1>  
    <h6> Por aqui são feitas doações para ajudar animais, como cachorros, gatos etc.</h6>
    </div>
<form action="/cadProdutos" method="POST" >
<table class="table">
  <tr>
    <th>nome Ong</th>
    <th>nome Produto</th>
    <th>quantidade</th>
    <th>prioridade</th>
    <th>Quero doar</th>
  </tr>
  {{#each produtos}}
    <tr>
      <td>{{nomeOng}}</td>
      <td>{{nomeProduto}}</td>
      <td>{{quantidade}}</td>
      <td>{{prioridade}}</td>
      <td><button class="btn btn-secondary"> <a href="listaOng/{{nomeOng}}" class="text-white">informações</a></button></td>
    </tr>
  {{/each}}
</table>
</form>
</div>