{{#each usuario2}}
    <h1>Ola {{'pessoa.nome'}}<h1></h1>
    <ul>
        <li><b>Seu Nome Pessoa: {{'pessoa.nome'}}</b></li>
        <li><b>Endereço: {{'pessoa.endereco'}}</b></li>
        <li><b>CPF:{{'pessoa.cpf'}}</b></li>
        <li><b>Nom Usuario:</b>{{usuario}}</li>
    </ul>
{{/each}}
<hr><hr>