
 <br>
<div class="container">
  <div class="card">
    <div class="card-header car">
    <h1>CADASTRO PARA DOADORES
    </h1> 
    </div>

    <form action="/cadDoador" method="POST" >

         <div class="form-group">
          <label for="inputNome">Nome Completo</label>
          <input name="nome" type="text" class="form-control" id="inputAddress" placeholder="ex: Eduardo" required> 
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input name="Email" type="email" class="form-control" id="inputEmail4">
          </div>

          <div class="form-group col-md-6">
            <label for="inputPassword4">Senha</label>
            <input name="senha" type="password" class="form-control" id="inputPassword4" required> 
          </div>
        </div>

          <input type="hidden" name="tipo" value="doador">

        
        <button type="submit" class="btn btn-primary form-group">prosseguir</button>
      </form>
      </div>

<br>

<div class="card-header bg-white form-group">
    <h1>banco de dados</h1> 
<table class="table">
  <tr>
    <th>tipo</th>
    <th>Nome</th>
    <th>Email</th>
    <th>senha</th>
    <th>atualizar</th>
    <th>excluir</th>
  </tr>
  {{#each doador}}
    <tr>
      <td>{{tipo}}</td>
      <td>{{nome}}</td>
      <td>{{Email}}</td>
      <td>{{senha}}</td>
      <td><button class="btn btn-secondary"> <a href="/update/{{id}}" class="text-white"> 
      atualizar</a></button></td>
      <td>
        <form method="POST" action="/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">

          <input type="hidden" name="id" value="{{id}}">
          <button class="btn btn-success">Excluir</button>
                    
        </form> 
        
        </form>
       
      </td>
    </tr>
  {{/each}}
</table>
</div>
</div>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Tem certeza em deletar essa categoria?")
        if(decision){
            form.submit();
        }
    }
</script>
