  
  <br>
<div class="container">
  <div class="card">
    <div class="card-header car">
    <h1>CADASTRO PARA ONGs
    </h1>  
    </div>
            <form action="/cadUsuario" method="POST" enctype="multipart/form-data">

          <input name="colocarImagem" type="file" class="form-group" >
        
          <div class="form-group">
            <label for="inputAddress2">Nome da ONG</label>
            <input name="nome" type="text" class="form-control" id="inputAddress0" placeholder="digite o nome" required>
          </div>

           <div class="form-group">
            <label for="inputAddress2">CNPJ</label>
            <input name="cnpj" type="number" class="form-control" id="numeric" placeholder="somente números" required>
          </div>

          
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input name="Email" type="email" class="form-control" id="inputEmail2" required>
          </div>

          <div class="form-group col-md-6">
            <label for="inputPassword4">Senha</label>
            <input name="senha" type="password"  rows="10" cols="70" class="form-control" id="inputPassword4">
          </div>
        </div>
        
      
       <textarea name="descricao" rows="10" cols="70" class="form-group" placeholder="descrições sobre sua Ong exemplo: telefone,
       endereço, hitoria, horario de funcionamento etc etc." required></textarea>

        <input type="hidden" name="tipo" value="Ong">

        <button type="submit" class="btn btn-primary form-group">prosseguir</button>
      </form>
      </div>

<br>

<div class="card-header bg-white">
    <h1>banco de dados</h1> 
  <table class="table">
  <tr>
    <th>Imagem da Ong</th>
    <th>Nome</th>
    <th>senha</th>
    <th>cnpj</th>
    <th>Email</th>
    <th>descrição da Ong</th>
    <th>atualizar</th>
    <th>excluir</th>
  </tr>
  {{#each doador}}
    <tr>
      <td><img src="static/img/{{colocarImagem}}"></td>
      <td>{{nome}}</td>
      <td>{{senha}}</td>
      <td>{{cnpj}}</td>
      <td>{{Email}}</td>
      <td>{{descricao}}</td>
      <td><button class="btn btn-secondary"><a href="/update/{{id}}" class="text-white" >
      atualizar</a></button></td>
      <td><a href="/delete/{{id}}">Apagar</a></td>
    </tr>
  {{/each}}
</table>
</div>
</div>

      
      