
        
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
    <h1>CADASTRO DE DOAÇÕES</h1> 
    </div>
  <div class="card-body">
   <form action="/cadProdutos" method="POST" >
<div class=" form-group">
            <label  for="inputAlimento">Categoria de Doação</label>
            <select name="categoriaDoacao" id="inputAlimento" class="form-control">
              <option value="alimentos">Alimentos</option>
              <option value="brinquedos">Brinquedos</option>
              <option value="roupas">Roupas</option>
              <option value="doacaoEmDinheiro">Doações em dinheiro</option>
              <option value="animais">Animais</option>
            </select>
          </div>

<div class="form-group">
          <label for="inputNome">Nome da doação requisitada</label>
          <input name="nomeProduto" type="text" class="form-control"  rows="10" cols="70" id="inputAddress" placeholder="ex: feijão, arroz etc" required> 
        </div>

 <div class="form-group">
          <label for="inputQuantidade">Quantidade</label>
          <input name="quantidade" type="text" class="form-control" id="inputAddress2" required>
        </div>

  <select class="form-select form-group" name="prioridade" aria-label="Default select example">
    <option disabled selected> prioridade </option>
    <option value="baixa">baixa</option>
    <option value="média">média</option>
    <option value="alta">Alta</option>
  </select>
  
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="enviar">
  </div>
</div>
</div>
</form>

<br>
<br>
<div class="card-header bg-white">
    <h1>banco de dados</h1> 

<table class="table">
  <tr>
    <th>Nome da Ong</th>
    <th>categoriaDoacao</th>
    <th>nomeProduto</th>
    <th>quantidade</th>
    <th>prioridade</th>
    <th>atualizar</th>
    <th>excluir</th>
  </tr>
  {{#each produtos}}
    <tr>
      <td>{{nomeOng}}</td>
      <td>{{categoriaDoacao}}</td>
      <td>{{nomeProduto}}</td>
      <td>{{quantidade}}</td>
      <td>{{prioridade}}</td>
      <td><button class="btn btn-secondary"><a href="/updateProdutos/{{id}}" class="text-white">atualizar</a></button></td>
       <td>
        <form method="POST" action="/apaga1" style="display: inline;" onsubmit="confirmarDelecao(event, this)">

          <input type="hidden" name="id" value="{{id}}">
          <button class="btn btn-success">Excluir</button>
                    
        </form>    
      </td>
    </tr>
  {{/each}}
</table>
</div>
</div>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Tem certeza em deletar essa categoria?")
        if(decision){
            form.submit();
        }
    }
</script>





  




