<br>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header car">
    <h1> Mais Informações Ong
    </h1>  
    </div>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>Nome da Ong</th>
    <th>Prdouto Necessitado</th>
    <th>Quantidade</th>
    <th>Prioridade</th>
    <th>Número para contato</th>
  </tr>
  {{#each produto}}
<tr>
    <td>{{nomeOng}}</td>
    <td>{{nomeProduto}}</td>
    <td>{{quantidade}}</td>
    <td>{{prioridade}}</td>
    <td>{{telefone}}</td>
</tr>
 {{/each}}
</table>
</div>