<div class="card-header bg-white">
    <h1>Perfil
    </h1>  
<br>
{{#each doador}}
    <h4>Olá <b>{{usuario}}</b> esperamos que esteja muito bem!</h4>
{{/each}}
<br>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>tipo</th>
    <th>Nome</th>
    <th>Email</th>
    <th>atualizar</th>
    <th>excluir</th>
  </tr>
  {{#each doador}}
    <tr>
      <td>{{tipo}}</td>
      <td>{{usuario}}</td>
      <td>{{Email}}</td>
      <td><button class="btn btn-success"> <a href="/update/{{id}}" class="text-white"> 
      atualizar</a></button></td>
      <td>
        <form method="POST" action="/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">

          <input type="hidden" name="id" value="{{id}}">
          <button class="btn btn-danger">Excluir</button>
                    
        </form> 
        
        </form>
       
      </td>
    </tr>
  {{/each}}
</table>
</div>
</div>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Tem certeza em deletar essa categoria?")
        if(decision){
            form.submit();
        }
    }
</script>